<!-- the_weather/weather/templates/weather/index.html -->
{% extends 'base.html' %}
{% block content %}

    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                        <form method="POST">
                                {% csrf_token %}
                                <div class="field has-addons">
                                    <div class="control is-expanded">
                                        {{ form.name }}
                                    </div>
                                    <div class="control">
                                        <button class="button is-info">
                                            Add City
                                        </button>
                                    </div>
                                </div>
                        </form>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    {% for weather in weather_data reversed %}
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-50x50">
                                    <img src="http://openweathermap.org/img/w/{{ weather.icon }}.png" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <span class="title"><a href='/{{ weather.id }}'>{{ weather.city.name }}</a></span>
                                        <br>
                                        <span class="subtitle">{{ weather.temperature }}° F</span>
                                        <br> {{ weather.description }}
                                    </p>
                                </div>
                            </div>
                            </form>
                        </article>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}